/* IMPORTS */

@import url("../assets/fonts/gilroy/stylesheet.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

body {
    width: 100vw;
    overflow-x: hidden;
}



.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.spanVerde {
    color: #EAFC88;
}

.spanRosa {
    color: #EDB5F7;
}


/* NAVBAR */

.navbar {
    display: flex;
    height: 4em;
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1em;
    color: white;
}

.navLinks {
    display: flex;
}

.navToggle {
    color: white !important;
    display: none;
}

.navItem {
    list-style: none;
    padding: 2em;
}

.navItem a {
    text-decoration: none;
    color: white;
}

.navLink:not(.active) {
    color: #fff !important;
    text-decoration: none !important;
    transition: color 0.5s ease;
}

.navLink.active {
    color: #EAFC88;
}

/* FOOTER */

.footerContainer {
    height: auto;
    background-color: #1E1E1E;
}

.footer {
    color: #FBFAF6;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding-top: 10em;
}

.footerText {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    text-align: left;
    margin-right: 4em;
}


.footerText h1 {
    margin-bottom: .35em;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: left;
}

.footerLinks a {
    text-decoration: none;
    color: #FBFAF6;
    margin-bottom: 1.5em;
}

.contacts {
    color: #FBFAF6;
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    margin-top: 5em;
    margin-bottom: 10em;
    font-size: 1.2em;
}

.contacts>div>a {
    text-decoration: none;
    color: #FBFAF6;
}

.whatsapp {
    padding-right: 7em;
}

.derechosbumik {
    display: flex;
    justify-content: center;
    color: #7B7A6A;
    padding-bottom: 5em;
}

/* HEADER INICIO */

.header {
    display: flex;
    background-image: url("../assets/img/banners/bannerInicio.webp");
    background-position: center;
    background-size: cover;
    height: 55.875em;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.logo {
    display: flex;
    color: #FBFAF6;
    flex-direction: column;
    font-size: 0.938em;
    align-items: center;
    margin-bottom: .5em;
}

.textHeader {
    font-size: 1.25em;
    font-weight: 400;
    margin-top: .5em;
    margin-bottom: 1.4em;
}

.logo img {
    max-width: 100%;
    width: 36.563em;
}


.servicios {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 3em;
    width: 12rem;
    height: auto;
    color: #FBFAF6;
}

.servicios .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #EAFC88;
    border-radius: 1.625rem;
}

.servicios .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #1e1e1e;
}

.servicios .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.servicios .circle .icon::before {
    position: absolute;
    content: '';
    top: -0.3rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #1e1e1e;
    border-right: 0.125rem solid #1e1e1e;
    transform: rotate(45deg);
}

.servicios .serviceText {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #FBFAF6;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.servicios:hover .circle {
    width: 100%;
}

.servicios:hover .circle .icon {
    background: #1e1e1e;
    transform: translate(1rem, 0);
}

.servicios:hover .serviceText {
    color: #1e1e1e;
}


/* ABOUT INICIO */

.nosotros {

    text-align: center;
    color: #FBFAF6;
    background-color: #1e1e1e;
}

.nosotrosContain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about {
    padding-top: 2em;
    font-weight: 500;
    margin-bottom: -2em;
}

.about h1 {
    font-size: 3em;
}

.about p {
    margin-top: 1em;
    font-size: 1.5em;
}

.perfiles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin-bottom: 1em;
    padding-bottom: 2em;
    margin-top: 1em;
    gap: 5em;
    flex-wrap: wrap;
}

.perfiles>div>div>img {
    border-radius: 50px;
    margin-top: 3em;
    margin-bottom: 1.5em;
    max-width: 90%;
    width: 23em;
}

.perfilNahue p {
    color: #EDB5F7;
}

.perfilMili p {
    color: #EDB5F7;
}

.borderboxText {
    display: flex;
    align-items: center;
    border: solid 2px #2D2D2C;
    width: fit-content;
    padding: 1.3em;
}


.text h2 {
    font-size: 3em;
}

.text p {
    font-size: 1.625em;
    padding: .6em;
}

.pI {
    font-style: italic;
}

/* BANNER INICIO */

.bannerI {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5em;
    align-items: center;
    flex-direction: column;
    background-color: #1e1e1e;
    width: 100vw;
}

.bannerText {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #EAFC88;
    color: #1e1e1e;
    font-size: 0.875em;
    text-align: left;
    height: auto;
    width: 100%;
    padding: 3em;
    /* Aumentado el espacio lateral */
}


.investigacion h1,
.desarrollo h1,
.resultado h1 {
    font-size: 5em;
}

.investigacion h2,
.desarrollo h2,
.resultado h2 {
    font-size: 3em;
}

.investigacion p,
.desarrollo p,
.resultado p {
    width: 20em;
    font-size: 1.3em;
    font-weight: 500;
}



/* SERVICES INICIO */

.serviceContflex {
    display: flex;
    flex-direction: column;
}

.serviceBackground {
    display: flex;
    justify-content: center;
}

.serviceContainer {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    flex-wrap: wrap;
    font-family: 'gilroy';
}

.serviceComp {
    width: 100vw;
}

.servicesContain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
    padding-top: 2.5em;
    margin-bottom: 10em;
}

.serviciosText {
    font-size: 1.5em;
    margin-top: 1.6em;
}



.serviciosText p {
    margin-top: 1em;
    font-size: 1em;
    margin-bottom: 2em;
}

.boxBorder {
    border: 1px solid #404040;
}

.serviceBox {
    margin-top: 1.5em;
    font-size: 1.2em;
    width: 25em;
}

.serviceBox img {
    width: 6.25em;
}

.liServices {
    color: #EAFC88;
    font-size: 1.3em;
    font-weight: 600;
}

.serviceBox ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.serviceBox ul li {
    padding: 0.8em;
}

.serviceBox ul li p {
    font-size: 1em;
}

.botonServicios {
    color: #1E1E1E;
    background-color: #EAFC88;
    border: none;
    font-size: 1.3em;
    padding: 1em 2.1em;
    margin-top: 5em;
    margin-bottom: -4em;
    border-radius: 10%;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
    align-items: center;
}

/* SLIDER CONTAINER */

.sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 70vw;
    margin: 0 auto;
}

/* Slick dots, moverlos para abajo*/

.slick-dots {
    transform: translateY(3.5em);
    color: #FBFAF6 !important;
}


/* Color del slick dot activo*/

.slick-dots li.slick-active button:before {
    color: White !important;
}

/* Color de los slick dots */

.slick-dots li button::before {
    color: #FBFAF6;
}

/* Modificar flechas react slick */

.slick-prev:before,
.slick-next:before {
    font-size: 25px;
}

.imagenSliderItem {
    width: 100%;
    /* Asegura que el ancho incluye el relleno y el borde */
}

.imagenSliderItem img {
    width: 95%;
    height: auto;
    display: block;
    border-radius: 30px;

    /* Evita cualquier espacio adicional debajo de la imagen */
}

.slick-slide>div {
    margin: 0 1em;
}

.tituloCarousel {
    font-size: 1.5em;
    margin: -2em 0em 3.5em;
}

.tituloCarousel p {
    margin-top: 1em;
}

/* SERVICIOS */

/* HEADER SERVICIOS*/

.headerServiceContain {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1E1E1E;
    color: #FBFAF6;
    padding-top: 5em;
    padding-bottom: 3em;
}

.tituloServicios {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}

.tituloServicios h1 {
    font-size: 3em;
}

.tituloServicios p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
}

.textServicios {
    margin-top: 1em;
}

.textServicios p {
    font-size: 1.3em;
    text-align: center;
    line-height: 1.3em;
    line-break: auto;
}

/* SERVICIOS SERVICIOS */

.serviciosServComp {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

.serviceServicio {
    display: flex;
    justify-content: center;
    align-items: center;
}


.serviceServicioimg img {
    border-radius: 25px;
}

.tituloServicio {
    color: #FBFAF6;
}

.tituloServicio h1 {
    margin-top: 1em;
    font-size: 3em;
    margin-bottom: .5em;
}

.tituloServicio p {
    font-size: 1.3em;
    margin-bottom: 2em;
}

.descripcionServicio {
    line-break: auto;
}

.mostrarMas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.containerData {
    margin: 2.5em 3em;
}

.serviciosContain {
    max-width: 1300px;
}

.item {
    color: #FBFAF6;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.columns {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.columns h2 {
    font-size: 2em;
    color: #FBFAF6;
    margin-bottom: .3em;
    border-bottom: solid 1px #F7F3ED;
    width: 100%;
    padding-bottom: .2em;
}


.tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #FBFAF6;
    font-size: 1em;
    border-bottom: 1px solid #F7F3ED;
    padding-bottom: .3em;
}

.tittle span {
    font-size: 1.5em;
    margin-right: .5em;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    font-size: 1.2em;
    line-height: 1.3em;
    margin-top: 1em;
}

.content.show {
    margin-top: 1em;
    height: auto;
    max-height: 9999px;
    transition: all 0.7s cubic-bezier(1, 0, 1, 0);
}

/* MEDIA QUERYS */
@media screen and (max-width: 1400px) {
    .serviceServicioimg {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .bannerText {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 1100px) {
    .bannerText {
        flex-direction: column;
    }

    .bannerText>div {
        margin-bottom: .5em;
    }

    .investigacion p,
    .desarrollo p,
    .resultado p {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 1015px) {
    .navLinks {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 4em;
        left: -110%;
        opacity: 1;
        transition: all .5s ease-out;
        color: #FBFAF6;
    }

    .navLinks.active {
        background: #2D2D2C;
        left: 0px;
        opacity: 1;
        transition: all .5s ease;
        z-index: 1;
        color: #FBFAF6;
    }

    .navLink {
        padding: 1.5em;
        width: 100%;
        display: table;
        color: #FBFAF6;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.1em;
        color: #FBFAF6;
    }

    .navToggle {
        display: block;
        margin-right: 5%;
        font-size: 1.7em;
    }

    .textServicios {
        padding: 1em;
    }

}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-top: -10em;
    }

    .botonServicios {
        margin-top: 3.5em;
    }

    .perfiles {
        gap: 2em;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerText {
        margin: 0;
        align-items: center;
    }

    .footerLinks {
        margin-top: 2em;
        align-items: center;
    }

    .whatsapp {
        padding: 0;
    }

    .contacts>div {
        margin-bottom: 1em;
    }

    .business {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .serviceBox {
        width: 20em;
    }

    .tituloServicios h1 {
        font-size: 2.5em;
    }

    .tituloServicio h1 {
        font-size: 2.5em;
    }

    .tituloServicio p {
        font-size: 1.1em;
    }

    .headerServiceContain {
        padding-bottom: 1.5em;
    }

    .tittle {
        font-size: .8em;
    }

    .columns h2 {
        font-size: 1.6em;
    }

}

@media screen and (max-width: 500px) {
    .logo img {
        width: 24em;
    }

    .serviceBox {
        width: 18em;
    }

    .serviceText {
        font-size: 1em;
    }

    .investigacion p,
    .desarrollo p,
    .resultado p {
        font-size: 1.2em;
    }

    .footerText {
        font-size: 1.5em;
    }

    .footerLinks {
        font-size: 1.5em;
        margin-bottom: 1em;
        margin-top: 3em;
    }

    .contacts {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .textHeader {
        font-size: 1em;
    }

    .tituloServicios h1 {
        font-size: 2.2em;
    }

    .tituloServicio h1 {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 350px) {
    .serviceBox {
        width: 15em;
    }

    .investigacion h1,
    .desarrollo h1,
    .resultado h1 {
        font-size: 4em;
    }

    .investigacion h2,
    .desarrollo h2,
    .resultado h2 {
        font-size: 2.2em;
    }

    .bannerText p {
        font-size: 1em;
    }
}

@media screen and (max-width: 300px) {
    .serviceBox {
        width: 14em;
    }

    .footerText {
        font-size: 1.35em;
    }

    .tituloServicios h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 900px) {
    .formNombreApellido {
        display: flex !important;
        flex-direction: column !important;
    }

    .labelNombre,
    .labelApellido {
        width: 100% !important;
    }

    #contactForm {
        padding: 5% !important;
    }

    .formContain {
        width: 70% !important;
    }
}

/* PROYECTOS HEADER */

.headerProyectoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #1E1E1E;
    align-items: center;
    color: #FBFAF6;
    padding-top: 5em;
}

.tituloContainerHeaderProyecto h1 {
    font-size: 3em;
}

.tituloContainerHeaderProyecto p {
    margin-top: 1em;
    font-size: 1.5em;
}

/* PROYECTOS GALLERY */

.galleryContainComp {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    color: #FBFAF6;
    justify-content: center;
    align-items: center;
}

.galleryContain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 5em;
    max-width: 1400px;
    margin-top: 5em;
}

.galleryItem img {
    width: 35em;
    border-radius: 35px;
}

.pagination {
    padding: 3em;
    display: flex;
    background-color: #1E1E1E;
    justify-content: center;
    align-self: center;
    color: #FBFAF6;
    cursor: pointer;
    list-style: none;
    padding-top: 1em;
}

.pagination li {
    margin-right: 5px;
    padding: 0.6em;
}

.activePaginate {
    border: solid 1px #EDB5F7;
    border-radius: 30px;
}

.galleryTextContain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #1E1E1E;
    color: #FBFAF6;
    padding-top: 1em;
}

.galleryText p {
    font-size: 1.5em;
}


/* CONTACTO HEADER */

.headerContactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: #1E1E1E;
}

.headerContactTitulo {
    margin-top: 5em;
    color: #FBFAF6;
}

.headerContactTitulo h1 {
    font-size: 3em;
}

.headerTextP {
    margin-top: 1em;
}

.headerContactTitulo p {
    font-size: 1.5em;
}

/* CONTACT FORM */

.formContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    color: #FBFAF6;
    font-size: 1.5em;
}

.formContain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3em;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form label {
    text-align: left;
    margin-top: .8em;
    margin-bottom: .25em;
}

.form input {
    border: solid 1px #707070;
    background-color: #1E1E1E;
    height: 55px;
    color: #FBFAF6;
    font-size: 1.3em;
}

.form textarea {
    border: solid 1px #707070;
    background-color: #1E1E1E;
    color: #FBFAF6;
    font-size: 1.3em;
    max-width: 100%;
}

.formNombreApellido {
    display: flex;
    justify-content: space-between;
}

.labelNombre {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.labelApellido {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.buttonForm {
    margin-top: 2em;
    padding: .35em;
    background-color: #EAFC88;
    font-size: 1em;
    border-radius: 25px;
    color: #1E1E1E;
    border: none;
    cursor: pointer;
}

.textButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: #FBFAF6;
    background-color: #1E1E1E;
    padding-top: 5em;
}

.textButton p {
    font-size: 1.5em;
}

.textButton div {
    margin-top: -1em;
}

/* CONTACTO FAQ */

.faqContainerComp {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 6em;
    color: #FBFAF6;
}

.tittleFaq {
    margin-bottom: 2em;
}

.tittleFaq h1 {
    font-size: 3em;
}

.tittleFaq p {
    margin-top: 1em;
    font-size: 1.5em;
    margin-bottom: 1em;
}